/* Global */

body {
  font-family: "Raleway", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

#main_wrapper {
  width: 95%;
  margin: auto;
}
/* Header */

/* logo et navigateur */
.logoReservia {
  width: 97px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  color: #0065fc;
}

nav a {
  flex-wrap: wrap;
  padding: 21.24px 15.93px;
  font-weight: 500;
}

/* Bloc filtres */

#description > h1 {
  font-size: 21px;
  font-weight: 600;
}
